@import '../../styles/colors.scss';

.lg-button {
    border: 1px solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 300;
}

.lg-button:hover {
    background-color: var(--text-color);
    color: var(--details-color);
    transition: 0.5s;
}