@import '../../styles/colors.scss';

.lg-button {
    border: 1px solid $white;
    background-color: transparent;
    color: $white;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 300;
}

.lg-button:hover {
    background-color: $white;
    color: $black;
    transition: 0.5s;
}