$black: #1C1C1C;
$grey: #343434;
$light-grey: #7C7C7C;
$light-white: #E9E9E9;
$white: #F8F8F8;
$purple: #A2A0FB;
$light-green: #6DB33F;
$green: #41EE86;
$blue: #5562FF;
$yellow: #E1BB21;
$orange: #D0471E;