@import './colors.scss';

.dark {
    --background-color: #1C1C1C;
    --text-color: #F8F8F8;
    --details-color: #343434;
}

.light {
    --background-color: #F7F4F4;
    --text-color: #1C1C1C;
    --details-color: #E2DFDF;
}