@import '../../styles/themes.scss';
@import '../../styles/colors.scss';

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 30px 0;

  img {
    width: 40%;
  }

  .pointer {
    width: 16px;
    height: 16px;
    background-color: $blue;
    border-radius: 100%;
    z-index: 10;
  }

  .content-job {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white;
    gap: 12px;
  }
}

// @media screen and (min-width: 951px) and (max-width: 1250px) {
//   .card-container {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     width: 90%;
//     padding: 30px 0;

//     img {
//       width: 40%;
//     }

//     .pointer {
//       width: 16px;
//       height: 16px;
//       background-color: $blue;
//       border-radius: 100%;
//       z-index: 10;
//     }

//     .content-job {
//       width: 40%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       color: $white;
//       gap: 12px;
//     }
//   }
// }

@media screen and (min-width: 601px) and (max-width: 950px) {}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    img {
      width: 80%;
    }

    .pointer {
      display: none;
    }

    .content-job {
      margin-top: 18px;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $white;
      gap: 12px;
    }
  }
}