@import "../../styles/colors.scss";

.switch-theme-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .toggle-theme {
        display: flex;
        align-items: center;

        label {
            cursor: pointer;

            >input {
                display: none;
            }

            i {
                display: inline-block;
                width: 50px;
                height: 25px;
                border-radius: 20px;
                vertical-align: middle;
                position: relative;
                background: transparent;
                font-style: normal !important;
                border: 1px solid red;
            }

            >input:checked+i {
                background: #3b3b3b;
            }

            >input+i:after {
                content: "☀️";
                display: block;
                position: absolute;
                // transition: 0.15s;
                transform: translateX(5px);
            }

            >input:checked+i:after {
                content: "🌙";
                display: block;
                position: absolute;
                // transition: 0.15s;
                transform: translateX(25px);
            }
        }
    }
}