@import '../../styles/themes.scss';

.homepage-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: transparent;

    form {
        width: 1200px;
        height: 500px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid yellow;

        .hero-section {
            height: 100%;
            border: 1px solid red;
            color: $white;
        }

        aside {
            border: 1px solid red;
        }
    }
}