@import '../../styles/themes.scss';
@import '../../styles/colors.scss';

.homepage-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: transparent;

    form {
        width: 1200px;
        height: 500px;
        z-index: 1000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hero-section {
            display: flex;
            flex-direction: column;
            gap: 6px;
            height: 100%;
            color: var(--text-color);

            h1 {
                .hero-letter {
                    font-size: 48px;
                    display: flex;
                    align-items: center;

                    .tags {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;
                        width: 230px;
                        margin-left: 26px;

                        .hero-tags {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100px;
                            height: 40px;
                            font-size: 12px;
                            border: 2px solid transparent;
                            border-radius: 20px;
                            color: $white;
                        }

                        :nth-child(1) {
                            background-color: $blue;
                        }

                        :nth-child(2) {
                            background-color: $light-green;
                        }
                    }
                }

                .hero-letter-name {
                    font-size: 48px;
                }
            }

            h2 {
                margin-top: 16px;
                font-weight: 500;
                font-size: 21px;

                .hero-link {
                    color: var(--text-color);
                    margin-left: 8px;
                    transition: 0.3s;
                }

                .hero-link:hover {
                    color: $purple;
                }
            }

            .hero-subtitle {
                font-size: 16px;

                b {
                    margin-left: 4px;
                    margin-right: 4px;
                }
            }

            .hero-footer {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 16px;

                .hero-social-medias {
                    text-decoration: none;
                    margin-left: 38px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;

                    .hero-link {
                        color: var(--text-color);
                        font-size: 26px;
                    }

                    .hero-link:hover {
                        color: $purple;
                    }
                }
            }
        }

        aside {
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;

            img {
                width: 90%;
                margin-right: 0px;
            }
        }
    }
}