@import '../../styles/themes.scss';
@import '../../styles/colors.scss';
@import '../../styles/animations.scss';

.project-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: transparent;
  z-index: 10;
  overflow: scroll;

  .content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 6px;

    h1 {
      color: var(--text-color);
    }

    h2 {
      color: var(--text-color);
      margin-top: 16px;
      font-weight: 300;
    }

    .content-animation {
      display: flex;
      justify-content: center;
      align-items: center;

      .lottie-animation {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 951px) and (max-width: 1250px) {
  .project-container {
    margin-top: 60px;
  }
}

@media screen and (min-width: 601px) and (max-width: 950px) {
  .project-container {
    margin-top: 60px;

    .content-animation {
      .lottie-animation {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .project-container {
    margin-top: 60px;

    .content-container {
      h1 {
        font-size: 28px;
      }

      h2 {
        font-size: 22px;
      }
    }

    .content-animation {
      .lottie-animation {
        width: 50%;
      }
    }
  }
}