@import '../../styles/colors.scss';
@import '../../styles/themes.scss';
@import '../../styles/animations.scss';

.background-pattern-container {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;

    .polygon {
        position: absolute;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        z-index: 2;
    }

    .polygon-filled {
        color: $yellow;
        bottom: 170px;
        left: 10%;
    }

    .polygon-transparent {
        color: var(--text-color);
        bottom: 175px;
        left: 10.5%;
    }

    .ellipse {
        position: absolute;
        width: 50px;
        height: 50px;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        z-index: 2;
    }

    .ellipse-filled {
        color: $orange;
        top: 120px;
        left: 50%;
    }

    .ellipse-transparent {
        color: var(--text-color);
        top: 115px;
        left: 50.5%;
    }

    .square {
        position: absolute;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        z-index: 2;
    }

    .square-filled {
        color: $blue;
        bottom: 130px;
        right: 10%;
    }

    .square-transparent {
        color: var(--text-color);
        bottom: 135px;
        right: 9.5%;
    }

    .octagon {
        position: absolute;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
        z-index: 2;
    }

    .octagon-filled {
        color: $green;
        bottom: 105px;
        left: 50%;
    }

    .octagon-transparent {
        color: var(--text-color);
        bottom: 110px;
        left: 50.5%;
    }

    .line {
        position: absolute;
        border: 1px dashed var(--details-color);
        height: 100vh;
        z-index: 1;
    }

    .first-line {
        left: 16.6%;
    }

    .second-line {
        left: 33.3%;
    }

    .third-line {
        left: 50%;
    }

    .fourth-line {
        left: 66.6%;
    }

    .fifth-line {
        left: 83%;
    }

}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .background-pattern-container {
        .polygon-filled {
            color: $yellow;
            bottom: 170px;
            left: 10%;
        }

        .polygon-transparent {
            color: var(--text-color);
            bottom: 175px;
            left: 10.5%;
        }

        .ellipse-filled {
            color: $orange;
            top: 20px;
            left: 85%;
        }

        .ellipse-transparent {
            color: var(--text-color);
            top: 20px;
            left: 85%;
        }

        .square-filled {
            color: $blue;
            bottom: 130px;
            right: 10%;
        }

        .square-transparent {
            color: var(--text-color);
            bottom: 135px;
            right: 9.5%;
        }

        .octagon-filled {
            color: $green;
            top: 10px;
            bottom: 0;
            left: 10%;
        }

        .octagon-transparent {
            color: var(--text-color);
            top: 9px;
            bottom: 0;
            left: 11%;
        }
    }
}